---
import "../styles/global.css";

const pageTitle = "About Me";
const identity = "Ty";
const school = "My class";
const hobbies = ["music", "sports", "learning web design"];
---

<h1>{pageTitle}</h1>

<p>My name is {identity}.</p>
<p>I go to {school}.</p>

<ul>
  {hobbies.map((hobby) => <li>{hobby}</li>)}
</ul>

<a href="/">Home</a>
<a href="/blog">Blog</a>

<style>
  h1 {
    color: blue;
  }
</style>