---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Read my first post below.</p>

  <ul>
    <li><a href="/posts/post-1">My First Blog Post</a></li>
  </ul>
</BaseLayout>