---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Blog";
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
  <p>Read my posts below.</p>

  <ul>
    {allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>